OPENVPN_USER=QOzPgJaX6xnC7UL4
OPENVPN_PASSWORD=gv9FaECRtO7JnM4YKtRVHrUENbqagCjE
SERVER_COUNTRIES=Mexico,United States,Singapore,Japan,Canada
TZ=UTC
HTTP_CONTROL_SERVER_AUTH_DEFAULT_ROLE={"auth":"basic","username":"gluetun","password":"your-control-password"}
GLUETUN_1_NAME=VPN
GLUETUN_1_URL=http://gluetun:8000
GLUETUN_1_USER=gluetun
GLUETUN_1_PASSWORD=your-control-password
