OPENVPN_USER=QOzPgJaX6xnC7UL4
OPENVPN_PASSWORD=gv9FaECRtO7JnM4YKtRVHrUENbqagCjE
VPN_TYPE=openvpn
# For WireGuard, set VPN_TYPE=wireguard and provide your Proton WireGuard key.
WIREGUARD_PRIVATE_KEY=
SERVER_COUNTRIES=Mexico,United States,Singapore,Japan,Canada
TZ=UTC
